.body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    background: url('https://i.pinimg.com/originals/d3/6d/46/d36d462db827833805497d9ea78a1343.jpg') no-repeat top center;
    background-size: cover;
    height: 150vh;
}

.input-section {
    width: 100%;
    position: relative;
    height: 60px;
    overflow: hidden;
}

.input-section input{
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
}

.input-section label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.input-section label::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 3px;
    transition: all 0.3s ease;
}

.input-section input:focus + .label-name .content-name, 
.input-section input:valid + .label-name .content-name{
    transform: translateY(-100%);
    font-size: 14px;
    color: #5fa8d3;
}

.input-section input:focus + .label-name::after, 
.input-section input:valid + .label-name::after{
    transform: translateX(0%);
}


.textarea-section {
    width: 100%;
    position: relative;
    height: 300px;
    overflow: hidden;
    border-bottom: 1px solid black
}

.textarea-section label {
    position: absolute;
    bottom: 86%;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black
  
}

.textarea-section label::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.textarea-section textarea{
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 60px;
    border: none;
    outline: none;
    overflow: auto;
    
}

.textarea-section textarea:focus + .label-name .content-name, 
.textarea-section textarea:valid + .label-name .content-name{
    transform: translateZ(0%);
    font-size: 20px;
    color: #5fa8d3;
}

.textarea-section textarea:focus + .label-name::after, 
.textarea-section textarea:valid + .label-name::after{
    transform: translateX(0%);
}

.col-30 {
  float: left;
  width: 30%;
  margin-top: 6px;

}

.col-70 {
    float: left;
    width: 70%;
    margin-top: 6px;
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
  }
  

  .wrapper{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
